$container-width: 1005px;

$bg-color: #ffc038;
$bg-capture-color: #464646;
$bg-dark-color: #464646;
$white-color: #fff;
$yellow-color: #fff200;
$red-color: #f26c4f;


$base-font-size: 16px;

$base-font: Roboto-Light, sans-serif;
$title-caption-font: Roboto-Bold, sans-serif;
$price-section-font: Roboto-Medium, sans-serif;
$logo-font: Roboto-Black, sans-serif;
$price-section-title-font: Roboto-Regular, sans-serif;

$image-source: '../img/';